<%= render 'shared/errors', obj: @team %>
<div class="main-wrap-team">
	<div class="signup-main">
		<%= form_for(@team, :html => {role: "form"}) do |f| %>
	 		<!-- Team Name -->
			<div class>
				<%= @language_2.ime_ekipe %>:
			</div>
			<%= f.text_field :name, class: "polje border1", placeholder: "#{@language_2.unesi_ime_ekipe}", autofocus: true %>	
			<div class="signup-padding">
				<%= f.file_field :avatar %>
	 		</div>

	  			<!-- Kapiten - Player 1 - Info -->
				<div class>
					<%= @language_2.kapiten %>:
				</div>
				<!-- FORMA ZA POJEDINACNOG PLAYER-A -->
				<%= f.fields_for :players do |player_f| %>
					<div class="signup-padding">
				    	<%= player_f.text_field :name, class: "polje border1", placeholder: "#{@language_2.unesi_ime_igraca}", autofocus: true %>
				    </div>
				    <div class="signup-padding">
						<%= player_f.text_field :surname, class: "polje border1", placeholder: "#{@language_2.unesi_prezime_igraca}", autofocus: true %>
					</div>
					<!-- <div class="signup-padding">
						<%= player_f.text_field :JMBG, class: "polje border1", placeholder: "Unesi JMBG igraca", autofocus: true %>
					</div> -->


					<!-- FORMA ZA POJEDINACNOG USER-A -->
					<%= player_f.fields_for :user do |user_f| %>
						<div class="signup-padding">
					    	<%= user_f.email_field :email, class: "polje border1", placeholder: "#{@language_2.unesi_email_igraca}", autofocus: true %>
					    </div>
					    <div class="signup-padding">
							<%= user_f.password_field :password, class: "polje border1", placeholder: "#{@language_2.unesi_lozinku_igraca}", autofocus: true %>
						</div>
					<% end %>

					<div class="signup-padding">
						<%= player_f.file_field :avatar %>
					</div>

				<% end %>

	 		<!-- Registration token -->
			<div class>
				<%= @language_2.registracioni_token %>:
			</div>
			<%= f.number_field :registration_token, class: "polje border1", placeholder: "#{@language_2.unesi_registracioni_token}", autofocus: true %>	

	 		<div class>
				<div style="padding-top: 10px;">
    				<%= f.submit class: "btn btn-primary btn-lg" %>
  				</div>
  			</div>
		<% end %>
	</div>
</div>
