<%= render 'shared/errors', obj: @delegate %>
<div class="main-wrap-team">
	<div class="signup-main">
		<%= form_for(@delegate, :html => {role: "form"}) do |f| %>
			
			<!-- Delegate -->
			<div class="signup-padding">
		    	<%= f.text_field :name, class: "polje border1", placeholder: "#{@language_2.unesi_ime_delegata}", autofocus: true %>
		    </div>
		    <div class="signup-padding">
				<%= f.text_field :surname, class: "polje border1", placeholder: "#{@language_2.unesi_prezime_delegata}", autofocus: true %>
			</div>

			<!-- User details -->
			<%= f.fields_for :user do |user_f| %>
				<div class="signup-padding">
			    	<%= user_f.email_field :email, class: "polje border1", placeholder: "#{@language.unesite_email}", autofocus: true %>
			    </div>
			    <div class="signup-padding">
					<%= user_f.password_field :password, class: "polje border1", placeholder: "#{@language_2.unesi_lozinku_delegata}", autofocus: true %>
				</div>
			<% end %>

			<!-- Registration token -->
			<div class>
				Registracioni token:
			</div>
			<%= f.number_field :delegate_registration_token, class: "polje border1", placeholder: "#{@language_2.unesi_registracioni_token}", autofocus: true %>	


	 		<div class>
				<div class>
    				<%= f.submit class: "btn btn-primary btn-lg" %>
  				</div>
  			</div>
		<% end %>
	</div>
</div>
