<head>
  	<title><%= @language_2.registruj_delegata %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div id='wrapper'>
		<h1><%= @language_2.registruj_delegata %></h1>
	</div>
	<div class="container">
		<%= render 'layouts/messages' %>
		<%= render 'form' %>
	</div>
</body>
