<!--<head>
	<title><%= current_user.username %>|BALF</title>
</head>
	<h1 align="center" class="name_surname_player">  </h1>

	<div class="center">

		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<td>Username:</td>
				<td><%= current_user.username %></td>
			</tr>
			<tr>
				<td>Ime:</td>
				<td><%= @delegate.name %></td>
			</tr>
			<tr>
				<td>Prezime:</td>
				<td><%= @delegate.surname %></td>
			</tr>
			</table>
		</div>

		 <div class="player-stats-padding">
			<table class="player-stats">
				<%= render 'matches', obj: @matches %>
			</table>
		</div>
	</div>
-->

<head>
	<!-- Sa current_user.username stampamo username ulogovanog igraca -->
	<title><%= "#{@delegate.name} #{@delegate.surname}" %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div class="balf-gradient-background">
	<div class="player-profile">
		<div class="player-profile-kolone">
			<div class="box-row">
				<div class="box-cell prva">
					<div class="box-content">
						<div class="player-profile-image-div"><%= image_tag @delegate.avatar.url(:medium), :class => "player-profile-image" %>
						</div>
						<table class="player-profile-left-table">
							<tr>
								<td><%= @language_2.ime %>:</td>
								<td><%= @delegate.name %></td>
							</tr>
							<tr>
								<td><%= @language_2.prezime %>:</td>
								<td><%= @delegate.surname %></td>
							</tr>
							<tr>
								<td><%= @language_2.godina %></td>
								<td> </td>
							</tr>
							
						</table><br>
					</div>
				</div>
				<div class="center">
					<div>
						<h1><%= @language_2.mecevi_koji_treba_da_se_odigraju %></h1>
					</div>
					<div class="player-stats-padding">
						<table class="delegate-matches">
							<%= render 'matches', obj: @matches %>
						</table>
					</div>
				</div>
				<div>
					
				</div>
				<div class="center">
					<div>
						<h1><%= @language_2.odigrani_mecevi %></h1>
					</div>
					<div class="player-stats-padding">
						<table class="delegate-matches">
							<%= render 'matches', obj: @matches_finished %>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>