<html class="fullscreen">

<head>
	<title><%= @language.footer_prijavi_se %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<h1 align="center"><%= @language.footer_prijavi_se %></h1>
	<%= render 'login' %>
</body>
</html>