<head>
  <title>Sve lige|BALF</title>
</head>

<h1 align="center" class="name_surname_player"> Sve lige</h1>

<div class="center">
	 <div class="player-stats-padding">
		<table class="player-stats">
			<%= render 'leagues/league', obj: @leagues %>
		</table>
	</div>
</div>