<head>
  <title><%= @league.name %>|BALF</title>
</head>
<body>
	<div id='wrapper'>
		<h1><%= @league.name %></h1>
	</div>

	<!-- <h3 align="center" style="color:whitesmoke"> Informacije i Statistika</h3> -->
	<div class="center">

		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th><%= @language.pozicija_skraceno %></th> <!-- Pozicija -->
				<th class="OnlyforWeb">	</th>
				<th><%= @language.ekipa %></th>
				<th><%= @language.nastupa_skraceno %></th>   <!-- Odigranih -->
				<th><%= @language.pobeda_skraceno %></th>   <!-- Pobeda -->
				<th><%= @language.neresenih_skraceno %></th>   <!-- Neresenih -->
				<th><%= @language.izgubljenih_skraceno %></th>   <!-- Izgubljenih -->
				<th><%= @language.dato_golova_skraceno %></th>  <!-- Dato Golova -->
				<th><%= @language.primljeno_golova_skraceno %></th>  <!-- Primljeno Golova -->
				<th class="OnlyforWeb"><%= @language.gol_razlika_skraceno %></th>  <!-- Gol razlika -->
				<th><%= @language.bodova_skraceno %></th> <!-- Pts -->
			</tr>
			<% if @team_seasons != nil %>
				<%= render 'leagues/team', obj: @team_seasons.sort_by{|e| [-e[:points], -(e[:goals_scored]-e[:goals_received])]} %>
			<% end %>
			</table>
		</div>
	</div>
</body>