<div class="row">
	<div class="col-xs-12">
		
		<%= form_tag (@comment) do |f| %>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :description %>
				</div>
				<div class="col-sm-8">
					<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "#{@language_2.sadrzaj}" %>
  				</div>
  			</div>
  			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
		    		<%= f.submit class: "btn btn-primary btn-lg" %>
		  		</div>
		  	</div>
		<% end %>
		<div class="col-xs-4 col-xs-offset-4">
			[ <%= link_to "#{@language_2.delete_this_article and @language_2.view_all_articles}", articles_path %> ]
		</div>
	</div>
</div>
 