<%= render 'shared/errors', obj: @foul %>
<div class="main-wrap-team">
	<div class="signup-main">
		<%= form_for(@foul, :html => {role: "form"}) do |f| %>

			<div class="select-player">
				<!-- name_with_initial defenisan u player modelu (player.rb) -->
		    	<%= f.select :player_season_id, options_for_select(@player_seasons_on_match.map{ |c| [c.player.name_with_initial, c.id] }) %>
		    </div>

	 		<div class>
				<div class>
    				<%= f.submit class: "btn btn-primary btn-lg", data: { disable_with: "#{@language_2.molim_vas_sacekajte}"} %>
  				</div>
  			</div>
		<% end %>

	</div>
</div> 