<head>
	<title><%= @language_2.home_page %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<!-- <div class="name_surname_player">
		<h1 align="center">Vesti</h1>
	</div> -->
	<div id='wrapper'>
		<h1><%= @language.meni_vesti%></h1>
	</div>
	<div class="container articles-content">
		<%= render 'articles/article', obj: @articles %>
		<%= will_paginate @articles %>
	</div>

</body>

<!--<% if logged_in? && (current_user.admin) %>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10 h-padding">
			<%= link_to 'New Article', new_article_path, class: "btn btn-primary btn-lg" %>
		</div>
	</div>
<% end %>-->