<head>
	<title><%= @article.title %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div id='wrapper'>
		<h1><%= @article.title %></h1>
	</div>



	<div class="OnlyforWeb">
		<div style="position: relative; max-width:30%; margin: auto;">
			<div class="imgContainer" style="position: relative; max-width:100%; margin: auto;">
				<%= image_tag @article.avatar.url(:medium) %>
			</div>
		</div>
		<hr>
		<div class="article-text-div" style="">
			<div class="article-text-size" style="padding-left: 5px; padding-right: 5px;">
				<%= simple_format@article.description %>
			</div>
		</div>
	</div>

	<div class="OnlyforHandheld">
		<div class="imgContainer">
			<%= image_tag @article.avatar.url(:medium) %>
		</div>
		<hr>
		<div class="article-text-div-mobile">
			<div class="article-text-size" style="padding-left: 5px; padding-right: 5px;">
				<%= simple_format@article.description %>
			</div>
		</div>
	</div>
	

	<div class="article-actions" style="width: 60%; margin: auto; padding-bottom: 20px;">
		<% if logged_in? && current_user.admin %>
			<%= link_to @language_2.edit_this_article, edit_article_path(@article), class: "btn btn-xs btn-primary" %>
			<%= link_to @language_2.delete_this_article, article_path(@article), method: :delete, data:{ confirm:"#{@language_2.delete_article_confirmation}" }, class: "btn btn-xs btn-danger" %>
		<% end %>
		<%= link_to @language_2.view_all_articles, articles_path, class: "btn btn-xs btn-success" %>
	</div>
</body>
