<!--Ovo je HTML za sistem za razmenu poruka-->
<div id='wrapper'>
    <h1>Poruke</h1>
</div>

<div class="OnlyforWeb">
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <%= link_to @language_2.posalji_poruku, new_message_path, class: 'startconv'%>
        <%= mailbox_section @language_2.primljene_poruke, @box %>
        <%= mailbox_section @language_2.poslate_poruke, @box %>
        <%= mailbox_section @language_2.kanta, @box %>
      </ul>
    </div>

    <div class="col-sm-9">
      <% if @box == @language_2.kanta %>
        <p><%= link_to @language_2.isprazni_kantu, empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                         data: {confirm: '#{@language_2.are_you_sure}'} %></p>
      <% end %>

      <table class="list-group">
          <tr>
              <th>  <%= @language_2.ime_i_prezime %></th>
              <th>  <%= @language_2.naslov %> </th>
              <th>  <%= @language_2.poruka %> </th>
              <th>  <%= @language.datum %> </th>
              <th></th>
          </tr>
          <%= render partial: 'conversations/conversation', collection: @conversations %>
      </table>

      <%= will_paginate %>
    </div>
  </div>
</div>

<div class="OnlyforHandheld">
    <div class="">
      <ul class="nav nav-pills nav-stacked">
        <%= link_to @language_2.posalji_poruku, new_message_path, class: 'startconv'%>
        <%= mailbox_section @language_2.primljene_poruke, @box %>
        <%= mailbox_section @language_2.poslate_poruke, @box %>
        <%= mailbox_section @language_2.kanta, @box %>
      </ul>
    </div>

    <div class="col-sm-9">
      <% if @box == 'trash' %>
        <p><%= link_to @language_2.isprazni_kantu, empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                       data: {confirm: '#{@language_2.are_you_sure}'} %></p>
      <% end %>

      <table class="list-group">
          <tr>
              <th>  <%= @language_2.ime_i_prezime %> </th>
              <th>  <%= @language_2.naslov %> </th>
              <th>  <%= @language_2.poruka %> </th>
              <th>  <%= @language.datum %> </th>
              <th></th>
          </tr>
          <%= render partial: 'conversations/conversation', collection: @conversations %>
      </table>

      <%= will_paginate %>
    </div>
</div>
