<!--Ovo je HTML za sistem za razmenu poruka-->
<div id='wrapper'>
    <h1><%= @language_2.prepiska_sa %>
  <%= render 'conversations/participants', conversation: @conversation %>
</h1>

</div>
<div class="conversation-container">

  <div class="panel panel-default">
    <div class="panel-heading"><%= @conversation.subject[0..20] %></div>

    <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <div class="media">
          <% message = receipt.message %>
          <div class="media-left">
            <%= message.sender.username %>
          </div>

          <div class="media-body">
            <h4><%= message.body %></h4>
            <h6><%= message.sender.username %></h6>
              <small><span class="text-muted"> poslato <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span></small>
            
          </div>
        </div>
      <% end %>
     </div>
    </div>
  </div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: "#{@language_2.ukucaj_poruku}", required: true %>
  
  
  <%= submit_tag @language_2.posalji, class: 'send_button' %>
<% end %>
</div>
</div>