<head>
	<!-- Sa current_user.username stampamo username ulogovanog igraca -->
	<title><%= @player.name %> <%= @player.surname %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
<div class="bg-match2">
	<div class="balf-gradient-background-transparent">
	<div class="player-profile">
		<div class="player-profile-kolone">
			<div class="box-row">
				<div class="badges-box-cell prva">
					<div class="box-content">
						<div class="player-profile-image-div">
							<%= image_tag @player.avatar.url(:medium), :class => "player-profile-image" %>
						</div>
						<table class="player-profile-left-table">
							<tr>
								<td><%= @language_2.ime %>:</td>
								<td><%= @ime %></td>
							</tr>
							<tr>
								<td><%= @language_2.prezime %>:</td>
								<td><%= @prezime %></td>
							</tr>
							<tr>
								<td><%= @playerbadges_language.prvi_gol %>:</td>
								<td><%= @player_badge.prvi_gol %></td>
							</tr>
							<tr>
								<td><%= @playerbadges_language.prva_asistencija %>:</td>
								<td><%= @player_badge.prva_asistencija %></td>
							</tr>
							<tr>
								<td><%= @playerbadges_language.gol_asistencija %>:</td>
								<td><%= @player_badge.gol_asistencija %></td>
							</tr>
							<tr>
								<td><%= @playerbadges_language.tri_gola_na_utakmici %>:</td>
								<td><%= @player_badge.tri_gola_na_utakmici %></td>
							</tr>
							<tr>
								<td><%= @playerbadges_language.tri_asist_na_utakmici %>:</td>
								<td><%= @player_badge.tri_asist_na_utakmici %></td>
							</tr>
							<tr>
								<td><%= @playerbadges_language.pet_prijateljskih %>:</td>
								<td><%= @player_badge.pet_prijateljskih %></td>
							</tr>
							<tr>
								<td><%= @language_2.petnaest_odbrana_na_utakmici %>:</td>
								<td><%= @player_badge.tri_odbrane_na_utakmici %></td>
							</tr>
							<tr>
								<td><%= @playerbadges_language.odigrane_sve_ligaske %>:</td>
								<td><%= @player_badge.odigrane_sve_ligaske %></td>
							</tr>
							<tr>
								<td><%= @playerbadges_language.gol_u_prva_2_min %>:</td>
								<td><%= @player_badge.gol_u_prva_2_min %></td>
							</tr>
							<tr>
								<td><%= @playerbadges_language.odigrao_10_utakmica %>:</td>
								<td><%= @player_badge.odigrao_10_utakmica %></td>
							</tr>
						</table><br>
						<table class="player-profile-left-table">
							<tr>
								<th class="text-align: center"><%= link_to @language_2.player_stats, player_path(@player) %></th>
								<th class="text-align: center"><%= link_to @language_2.player_bedzevi, player_badge_path(@player) %></th>
								<th class="text-align: center"><%= link_to @language_2.player_team, team_path(@player.team) %></th>
							</tr>
						</table>
					</div>
				</div>
				<!-- ********************************** -->
				<!-- Prva od cetiri kolone sa bedzevima    -->
				<!-- ********************************** -->
				<div class="badges-box-cell druga">
					<!-- 1) bedz za prvi gol -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:prvi_gol] != 0 %>
							<%= image_tag("player_badges/igrac_01.png", :size => "180x180", alt: "prvi_gol") %>
						<% elsif @player_badge[:prvi_gol] == 0 || @player_badge[:prvi_gol] == nil%>
							<%= image_tag("player_badges/igrac_01.png", :size => "180x180", alt: "prvi_gol", class: "grayscale_badge") %>
						<% end %>
					</div>
					<!-- 5) bedz za tri asistencije na jednoj utakmici-->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:tri_asist_na_utakmici] !=0 %>
							<%= image_tag("player_badges/igrac_04.png", :size => "180x180", alt: "tri_asist_na_utakmici") %>
						<% elsif @player_badge[:tri_asist_na_utakmici] =0 %>
							<%= image_tag("player_badges/igrac_04.png", :size => "180x180", alt: "tri_asist_na_utakmici", class: "grayscale_badge") %>
						<% end %>
					</div>
				</div>

				<!-- *********************************** -->
				<!-- Druga od cetiri kolone sa bedzevima    --> 
				<!-- *********************************** -->
				<div class="badges-box-cell treca">
					<!-- 2) bedz za prvu asistenciju -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:prva_asistencija] != 0 %> 
							<%= image_tag("player_badges/igrac_02.png", :size => "180x180", alt: "prva_asistencija") %>
						<% elsif @player_badge[:prva_asistencija] == 0 || @player_badge[:prva_asistencija] == nil %>
							<%= image_tag("player_badges/igrac_02.png", :size => "180x180", alt: "prva_asistencija", class: "grayscale_badge") %>
						<% end %>		
					</div>

					<!-- 6) bedz za odigrano 5 prijateljskih utakmica -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:pet_prijateljskih] != 0 %>
							<%= image_tag("player_badges/igrac_09.png", :size => "180x180", alt: "pet_prijateljskih") %>
						<% elsif @player_badge[:pet_prijateljskih] == 0 || @player_badge[:pet_prijateljskih] == nil %>
							<%= image_tag("player_badges/igrac_09.png", :size => "180x180", alt: "pet_prijateljskih", class: "grayscale_badge") %>
						<% end %>
					</div>

					<!-- 9) bedz za brzi gol u prva 2 minuta utakmice -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:gol_u_prva_2_min] != 0 %>
							<%= image_tag("player_badges/igrac_08.png", :size => "260x150", alt: "gol_u_prva_2_min") %>
						<% elsif @player_badge[:gol_u_prva_2_min] == 0 %>
							<%= image_tag("player_badges/igrac_08.png", :size => "260x150", alt: "gol_u_prva_2_min", class: "grayscale_badge") %>
						<% end %>
					</div>
				</div>

				<!-- *********************************** -->
				<!-- Treca od cetiri kolone sa bedzevima    -->
				<!-- *********************************** -->	
				<div class="badges-box-cell cetvrta">
					<!-- 3) bedz za gol_asistencija -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:gol_asistencija] > 0 %>
							<%= image_tag("player_badges/igrac_06.png", :size => "180x180", alt: "gol_asistencija") %>
						<% elsif @player_badge[:gol_asistencija] == 0 || @player_badge[:gol_asistencija] == nil %>
							<%= image_tag("player_badges/igrac_06.png", :size => "180x180", alt: "gol_asistencija", class: "grayscale_badge") %>
						<% end %>
					</div>

					<!-- 7) bedz za 3 odbrane na jednoj utakmici-->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:tri_odbrane_na_utakmici] != 0  %>
							<%= image_tag("player_badges/igrac_05.png", :size => "180x180", alt: "tri_odbrane_na_utakmici") %>
						<% elsif @player_badge[:tri_odbrane_na_utakmici] == 0 || @player_badge[:tri_odbrane_na_utakmici] == nil %>
							<%= image_tag("player_badges/igrac_05.png", :size => "180x180", alt: "tri_odbrane_na_utakmici", class: "grayscale_badge") %>
						<% end %>
					</div>

					<!-- 10) bedz za odigranih 10 utakmica -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:odigrao_10_utakmica] != 0 %>
							<%= image_tag("player_badges/igrac_07.png", :size => "180x180", alt: "odigrao_10_utakmica") %>
						<% elsif @player_badge[:odigrao_10_utakmica] == 0 || @player_badge[:odigrao_10_utakmica] == nil %>
							<%= image_tag("player_badges/igrac_07.png", :size => "180x180", alt: "odigrao_10_utakmica", class: "grayscale_badge") %>
						<% end %>
					</div>
				</div>

				<!-- *********************************** -->
				<!-- Cetvrta od cetiri kolone sa bedzevima    -->
				<!-- *********************************** -->
				<div class="badges-box-cell peta">
					<!-- 4) bedz za tri gola na jednoj utakmici -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:tri_gola_na_utakmici] != 0 %>
							<%= image_tag("player_badges/igrac_03.png", :size => "180x180", alt: "tri_gola_na_utakmici") %>
						<% elsif @player_badge[:tri_gola_na_utakmici] == 0 || @player_badge[:tri_gola_na_utakmici] == nil %>
							<%= image_tag("player_badges/igrac_03.png", :size => "180x180", alt: "tri_gola_na_utakmici", class: "grayscale_badge") %>
						<% end %>
					</div>


					<!-- 8) bedz za sve odigrane ligaske utakmica -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @player_badge[:odigrane_sve_ligaske] != 0 %>
							<%= image_tag("player_badges/igrac_10.png", :size => "180x180", alt: "odigrane_sve_ligaske") %>
						<% elsif @player_badge[:odigrane_sve_ligaske] == 0 || @player_badge[:odigrane_sve_ligaske] == nil %>
							<%= image_tag("player_badges/igrac_10.png", :size => "180x180", alt: "odigrane_sve_ligaske", class: "grayscale_badge") %>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>
</div>
</body>