<!--Ovo je TEXT za sistem za razmenu poruka-->

You have a new notification: <%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %>
===============================================
 
You have received a new notification:

-----------------------------------------------
<%= @notification.body.html_safe? ? @notification.body : strip_tags(@notification.body) %>
-----------------------------------------------

Visit <%= root_url %> and go to your notifications for more info.
