<!--Ova HTML je za sistem za razmenu poruka-->
<% @users.each do |user| %>
	<tr>
		<% if user.player %>
			<td><span style="padding-left: 10px"><%= user.player.full_name %></span></td>
			<% if user.player.team != nil %>
				<td style="text-align: center;"><%= user.player.team.name %></td>
			<% else %>
				<td style="text-align: center;"></td>
			<% end %>
		<% elsif user.delegate %>
			<td><span style="padding-left: 10px"><%= "#{user.delegate.name} #{user.delegate.surname}" %></span></td>
			<td>	</td>
		<% elsif user.admin %>
			<td><span style="padding-left: 10px">ADMIN</span></td>
			<td>	</td>
		<% end %>
		<% if current_user != user %>
			<td style="text-align: center; width: 50px;"><%= link_to @language_2.posalji_poruku, new_message_path(to: user.id), class: 'btn btn-user btn-sm' %></td>
		<% else %>
			<td>	</td>
		<% end %>
	</tr>
<% end %>
