<head>
  <title><%= @language_2.podesavanja_naloga %>|<%= @organisation_info.organisation_name %></title>
</head>
<div id='wrapper'>
	<h1><%= @language_2.podesavanja_naloga %></h1>
</div>
<%= render 'form' %>