<div id='wrapper'>
  <h1><%= @language.meni_kup_5_plus_1 %> - 2016/2017</h1>
  <div class='tournament'>
    <div class='round'>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-pl'></span>
            </span>
            <span class='team-name' title='Poland'>
              Poland
            </span>
            <span class='team-score'>
              5
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-nu'></span>
            </span>
            <span class='team-name' title='Niue'>
              Niue
            </span>
            <span class='team-score'>
              0
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-eg'></span>
            </span>
            <span class='team-name' title='Egypt'>
              Egypt
            </span>
            <span class='team-score'>
              1
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-cw'></span>
            </span>
            <span class='team-name' title='Curaçao'>
              Curaçao
            </span>
            <span class='team-score'>
              4
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-om'></span>
            </span>
            <span class='team-name' title='Oman'>
              Oman
            </span>
            <span class='team-score'>
              2
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-mh'></span>
            </span>
            <span class='team-name' title='Marshall Islands'>
              Marshall Islands
            </span>
            <span class='team-score'>
              4
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-lt'></span>
            </span>
            <span class='team-name' title='Lithuania'>
              Lithuania
            </span>
            <span class='team-score'>
              4
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-gy'></span>
            </span>
            <span class='team-name' title='Guyana'>
              Guyana
            </span>
            <span class='team-score'>
              2
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-er'></span>
            </span>
            <span class='team-name' title='Eritrea'>
              Eritrea
            </span>
            <span class='team-score'>
              5
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-jp'></span>
            </span>
            <span class='team-name' title='Japan'>
              Japan
            </span>
            <span class='team-score'>
              4
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-np'></span>
            </span>
            <span class='team-name' title='Nepal'>
              Nepal
            </span>
            <span class='team-score'>
              5
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-gh'></span>
            </span>
            <span class='team-name' title='Ghana'>
              Ghana
            </span>
            <span class='team-score'>
              3
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-ch'></span>
            </span>
            <span class='team-name' title='Switzerland'>
              Switzerland
            </span>
            <span class='team-score'>
              1
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-in'></span>
            </span>
            <span class='team-name' title='India'>
              India
            </span>
            <span class='team-score'>
              0
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-ph'></span>
            </span>
            <span class='team-name' title='Philippines'>
              Philippines
            </span>
            <span class='team-score'>
              2
            </span>
          </div> 
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-vn'></span>
            </span>
            <span class='team-name' title='Viet Nam'>
              Viet Nam
            </span>
            <span class='team-score'>
              4
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='round'>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-pl'></span>
            </span>
            <span class='team-name' title='Poland'>
              Poland
            </span>
            <span class='team-score'>
              5
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-cw'></span>
            </span>
            <span class='team-name' title='Curaçao'>
              Curaçao
            </span>
            <span class='team-score'>
              2
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-mh'></span>
            </span>
            <span class='team-name' title='Marshall Islands'>
              Marshall Islands
            </span>
            <span class='team-score'>
              2
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-lt'></span>
            </span>
            <span class='team-name' title='Lithuania'>
              Lithuania
            </span>
            <span class='team-score'>
              1
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-er'></span>
            </span>
            <span class='team-name' title='Eritrea'>
              Eritrea
            </span>
            <span class='team-score'>
              2
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-np'></span>
            </span>
            <span class='team-name' title='Nepal'>
              Nepal
            </span>
            <span class='team-score'>
              4
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-ch'></span>
            </span>
            <span class='team-name' title='Switzerland'>
              Switzerland
            </span>
            <span class='team-score'>
              2
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-vn'></span>
            </span>
            <span class='team-name' title='Viet Nam'>
              Viet Nam
            </span>
            <span class='team-score'>
              3
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='round'>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-pl'></span>
            </span>
            <span class='team-name' title='Poland'>
              Poland
            </span>
            <span class='team-score'>
              3
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-mh'></span>
            </span>
            <span class='team-name' title='Marshall Islands'>
              Marshall Islands
            </span>
            <span class='team-score'>
              2
            </span>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-np'></span>
            </span>
            <span class='team-name' title='Nepal'>
              Nepal
            </span>
            <span class='team-score'>
              5
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-vn'></span>
            </span>
            <span class='team-name' title='Viet Nam'>
              Viet Nam
            </span>
            <span class='team-score'>
              2
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='round'>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-pl'></span>
            </span>
            <span class='team-name' title='Poland'>
              Poland
            </span>
            <span class='team-score'>
              2
            </span>
          </div>
          <div class='team'>
            <span class='team-flag'>
              <span class='flag flag-np'></span>
            </span>
            <span class='team-name' title='Nepal'>
              Nepal
            </span>
            <span class='team-score'>
              5
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>