<div id='wrapper'>
  <h1><%= @language.meni_kup_5_plus_1 %> - 2016/2017</h1>
  <div class='tournament'>
    <div class='round'>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
            <% unless @match_1 == nil %>
              <span class='team-flag'>
                <%= image_tag @home_team_1.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Poland'> 
                <%= @home_team_1.name %>
              </span>
              <span class='team-score'>
                <%= @match_1.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_1.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Niue'>
                <%= @away_team_1.name %>
              </span>
              <span class='team-score'>
                <%= @match_1.away_goals %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_2 == nil %>
              <span class='team-flag'>
                <%= image_tag @home_team_2.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Egypt'>
                <%= @home_team_2.name %>
              </span>
              <span class='team-score'>
                <%= @match_2.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_2.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Curaçao'>
                <%= @away_team_2.name %>
              </span>
              <span class='team-score'>
                <%= @match_2.away_goals %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_3 == nil %>
              <span class='team-flag'>
                <%= image_tag @home_team_3.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Poland'> 
                <%= @home_team_3.name %>
              </span>
              <span class='team-score'>
                <%= @match_3.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_3.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Niue'>
                <%= @away_team_3.name %>
              </span>
              <span class='team-score'>
                <%= @match_3.away_goals %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_4 == nil %>
              <span class='team-flag'>
                <%= image_tag @home_team_4.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Poland'> 
                <%= @home_team_4.name %>
              </span>
              <span class='team-score'>
                <%= @match_4.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_4.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Niue'>
                <%= @away_team_4.name %>
              </span>
              <span class='team-score'>
                <%= @match_4.away_goals %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_5 == nil %>
              <span class='team-flag'>
                <%= image_tag @home_team_5.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Poland'> 
                <%= @home_team_5.name %>
              </span>
              <span class='team-score'>
                <%= @match_5.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_5.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Niue'>
                <%= @away_team_5.name %>
              </span>
              <span class='team-score'>
                <%= @match_5.away_goals %>
              </span>
            <%end%>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_6 == nil %>
              <span class='team-flag'>
                <%= image_tag @home_team_6.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Poland'> 
                <%= @home_team_6.name %>
              </span>
              <span class='team-score'>
                <%= @match_6.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_6.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Niue'>
                <%= @away_team_6.name %>
              </span>
              <span class='team-score'>
                <%= @match_6.away_goals %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_7 == nil %>
              <span class='team-flag'>
                <%= image_tag @home_team_7.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Poland'> 
                <%= @home_team_7.name %>
              </span>
              <span class='team-score'>
                <%= @match_7.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_7.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Niue'>
                <%= @away_team_7.name %>
              </span>
              <span class='team-score'>
                <%= @match_7.away_goals %>
              </span>
            <%end%>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_8 == nil %>
              <span class='team-flag'>
                <%= image_tag @home_team_8.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Poland'> 
                <%= @home_team_8.name %>
              </span>
              <span class='team-score'>
                <%= @match_8.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_8.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Niue'>
                <%= @away_team_8.name %>
              </span>
              <span class='team-score'>
                <%= @match_8.away_goals %>
              </span>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <div class='round'>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_1 == nil || @match_2 == nil %>
              <span class='team-flag'>
              <% if @match_1.is_match_finished && @match_2.is_match_finished %>
                  <%= image_tag @home_team_9.avatar.url(:medium), width:"18px" %>

                </span>
                <span class='team-name' title='Poland'>
                  <%= @home_team_9.name  %>
                </span>
                <span class='team-score'>
                  <%= @match_9.home_goals %>
                </span>
              </div>
              <div class='team'>
                <span class='team-flag'>
                  <%= image_tag @away_team_9.avatar.url(:medium), width:"18px" %>
                </span>
                <span class='team-name' title='Curaçao'>
                  <%= @away_team_9.name  %>
                </span>
                <span class='team-score'>
                  <%= @match_9.away_goals %>
              <% end %>
            </span>
          <% end %>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_3 == nil || @match_4 == nil %>
              <span class='team-flag'>
                <% if @match_3.is_match_finished && @match_4.is_match_finished %>
                <%= image_tag @home_team_10.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Marshall Islands'>
                <%= @home_team_10.name  %>
              </span>
              <span class='team-score'>
                <%= @match_10.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_10.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Lithuania'>
                <%= @away_team_10.name  %>
              </span>
              <span class='team-score'>
                <%= @match_10.away_goals %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_5 == nil || @match_6 == nil %>
              <span class='team-flag'>
                <% if @match_5.is_match_finished && @match_6.is_match_finished %>
                <%= image_tag @home_team_11.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Eritrea'>
                <%= @home_team_11.name  %>
              </span>
              <span class='team-score'>
                <%= @match_11.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_11.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Nepal'>
                <%= @away_team_11.name  %>
              </span>
              <span class='team-score'>
                <%= @match_11.away_goals %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_7 == nil || @match_8 == nil %>
              <span class='team-flag'>
                <% if @match_7.is_match_finished && @match_8.is_match_finished %>
                <%= image_tag @home_team_12.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Switzerland'>
                <%= @home_team_12.name  %>
              </span>
              <span class='team-score'>
                <%= @match_12.home_goals %>
              </span>
            </div>
            <div class='team'>
              <span class='team-flag'>
                <%= image_tag @away_team_12.avatar.url(:medium), width:"18px" %>
              </span>
              <span class='team-name' title='Viet Nam'>
                <%= @away_team_12.name  %>
              </span>
              <span class='team-score'>
                <%= @match_12.away_goals %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class='round'>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_1 == nil || @match_2 == nil || @match_3 == nil || @match_4 == nil || @match_5 == nil || @match_6 == nil || @match_7 == nil || @match_8 == nil %>
              <span class='team-flag'>
              <% if @match_1.is_match_finished && @match_2.is_match_finished && @match_3.is_match_finished &&  @match_4.is_match_finished && @match_5.is_match_finished && @match_6.is_match_finished && @match_7.is_match_finished && @match_8.is_match_finished %>
                  <% if @match_9.is_match_finished && @match_10.is_match_finished %>
                  <%= image_tag @home_team_13.avatar.url(:medium), width:"18px" %>
                </span>
                <span class='team-name' title='Poland'>
                  <%= @home_team_13.name  %>
                </span>
                <span class='team-score'>
                  <%= @match_13.home_goals %>
                </span>
              </div>
              <div class='team'>
                <span class='team-flag'>
                  <%= image_tag @away_team_13.avatar.url(:medium), width:"18px" %>
                </span>
                <span class='team-name' title='Marshall Islands'>
                  <%= @away_team_13.name  %>
                </span>
                <span class='team-score'>
                  <%= @match_13.away_goals %>
                  <% end %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class='match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_1 == nil || @match_2 == nil || @match_3 == nil || @match_4 == nil || @match_5 == nil || @match_6 == nil || @match_7 == nil || @match_8 == nil %>
              <span class='team-flag'>
              <% if @match_1.is_match_finished && @match_2.is_match_finished && @match_3.is_match_finished &&  @match_4.is_match_finished && @match_5.is_match_finished && @match_6.is_match_finished && @match_7.is_match_finished && @match_8.is_match_finished %>
                  <% if @match_11.is_match_finished && @match_12.is_match_finished %>
                  <%= image_tag @home_team_14.avatar.url(:medium), width:"18px" %>
                </span>
                <span class='team-name' title='Nepal'>
                  <%= @home_team_14.name  %>
                </span>
                <span class='team-score'>
                  <%= @match_14.home_goals %>
                </span>
              </div>
              <div class='team'>
                <span class='team-flag'>
                  <%= image_tag @away_team_14.avatar.url(:medium), width:"18px" %>
                </span>
                <span class='team-name' title='Viet Nam'>
                  <%= @away_team_14.name  %>
                </span>
                <span class='team-score'>
                  <%= @match_14.away_goals %>
                  <% end %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class='final-round'>
      <div class='final-match'>
        <div class='teams'>
          <div class='team'>
          <% unless @match_1 == nil || @match_2 == nil || @match_3 == nil || @match_4 == nil || @match_5 == nil || @match_6 == nil || @match_7 == nil || @match_8 == nil %>
              <span class='team-flag'>
              <% if @match_1.is_match_finished && @match_2.is_match_finished && @match_3.is_match_finished &&  @match_4.is_match_finished && @match_5.is_match_finished && @match_6.is_match_finished && @match_7.is_match_finished && @match_8.is_match_finished %>
                <% if @match_9.is_match_finished && @match_10.is_match_finished && @match_11.is_match_finished && @match_12.is_match_finished%>
                      <% if @match_13.is_match_finished && @match_14.is_match_finished %>
                      <%= image_tag @home_team_15.avatar.url(:medium), width:"18px" %>
                    </span>
                    <span class='team-name' title='Poland'>
                      <%= @home_team_15.name  %>
                    </span>
                    <span class='team-score'>
                      <%= @match_15.home_goals %>
                    </span>
                  </div>
                  <div class='team'>
                    <span class='team-flag'>
                      <%= image_tag @away_team_15.avatar.url(:medium), width:"18px" %>
                    </span>
                    <span class='team-name' title='Nepal'>
                      <%= @away_team_15.name  %>
                    </span>
                    <span class='team-score'>
                      <%= @match_15.away_goals %>
                      <% end %>
                  <% end %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="pehar">
        <%= image_tag("trophy.png", :alt => "logo", width:"70px") %>
    </div>
  </div>
</div>
<hr>
<div>
    <h1 style="text-align: center; color: white;"><%= "Kvalifikacioni mecevi" %></h1>
  </div>
  <div class="center results-font">
    <div class="OnlyforWeb">
       <div class="player-stats-padding">
        <table class="player-stats">
        <tr>
          <th><%= @language.datum %></th>
          <th><%= @language.vreme %></th>
          <th><%= @language.domacin %></th>
          <th></th>
          <th><%= @language.rezultat %></th>
          <th></th>
          <th><%= @language.gost %></th>
          <th><%= @language.meni_kup %></th>
          <th><%= @language.sezona %></th>
          <th><%= @language_2.teren %></th>
        </tr>
        <%= render 'tournament_matches', obj: @matches.sort_by{|e| e[:match_date]} %>
        </table>
      </div>
    </div>
    <div class="OnlyforHandheld">
       <div class="player-stats-padding">
        <table class="player-stats">
        <tr>
          <th style="min-width:80px"><%= @language.datum %><br><%= @language.vreme %></th>
          <th><%= @language.domacin %></th>
          <th><%= @language.rezultat %></th>
          <th><%= @language.gost %></th>
        </tr>
        <%= render 'tournament_matches', obj: @matches.sort_by{|e| e[:match_date]} %>
        </table>
      </div>
    </div>  
  </div>