<html>
<head>
​
      <title><%= @language.meni_kontakt %>|<%= @organisation_info.organisation_name %></title> 
       <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
      <title>Google Maps Multiple Markers</title> 
      <script src="http://maps.google.com/maps/api/js?sensor=false" 
              type="text/javascript"></script>
      <link href="https://fonts.googleapis.com/css?family=Hind+Guntur" rel="stylesheet">
</head>
 <body>

    <%= render 'layouts/welcomenavigation' %>
    
    <div class="balf-gradient-background">
      <div class="h-padding title-contact">
            <h1 class="contact-h1" align="center"><%= @language.meni_kontakt %></h1>
      </div>

      <div class="h-padding info-contact contact">
            <p align="center">BALF LIGA SE TRENUTNO IGRA U 7 BALONA ŠIROM GRADA. VEĆINU INFORMACIJA O NAMA MOŽETE POGLEDATI U NAŠOJ PREZENTACIJI OVDE.</p>
      </div>

​      <div class="contact-container">
         <div class="contact-column contact-column-one">
            <!-- Email forma -->
            <div class="card-form">
               <h3 class="contact-h3-title-left" align="center">Kontaktirajte nas putem maila</h3>
                  <div class="card-text">
                    <%= render 'contactmessages/form'%>
                  </div>
            </div>
         </div>
         
         <div class="contact-column contact-column-two">
            <p class="contact-h3-title-right" align="center">Lokacije balona u kojima se igra</p>
            <!-- Google map -->
            <div class="googlemap col-xs-12">
              <div id="map" style="width: 100%; max-width: 550px; margin-left: 20px; height: 430px;"></div>
            </div>
         </div>
      </div>

      <!-- Script for google maps-->
      <script type="text/javascript">
          var map;
            /******************************************************************
            * koordinate lokacija
            ******************************************************************/ 
        var marker, i;
            var locations = [
              ['Balon Fortis', 44.8147872950479, 20.484832311049104, 7],
              ['Balon Brazil', 44.799556761554875, 20.396680128760636, 6],
              ['Balon Restart 2', 44.82403845461999, 20.4212907794863, 5],
              ['Balon Partizan', 44.79426743838765, 20.424588513560593, 4],
              ['Balon Zvezda', 44.79295602128656, 20.42232537874952, 3],
              ['Balon Zlatna Lopta', 44.792818006171736, 20.486114406958222, 2],
              ['Balon Trudbenik', 44.80676185742872, 20.501043582335114, 1]
            ];

            /******************************************************************
            * sa scrollwheel-om podesavamo scroll misa da ne zumira mapu
            * dok scroluje stranu zoom podesava pocetni zum mape 
            ******************************************************************/
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12, 
            scrollwheel: false,
            center: new google.maps.LatLng(44.8036, 20.4589),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });


        var infowindow = new google.maps.InfoWindow();
           
          /******************************************************************
          *  petlja for uzima iz niza clanove i postavlja koordinate na mapi
          *******************************************************************/ 
        var marker, i;

        for (i = 0; i < locations.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });
          /******************************************************************
          * prelaskom misa na marker prikazuje se info prozor i to se radi 
          * funkcijom addListener
          ******************************************************************/ 
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
        /******************************************************************
        * sredjen zoom za mapu kad se klikne pocinje zoom 
        ******************************************************************/ 

            google.maps.event.addListener(map, 'click', function(event){
              this.setOptions({
                scrollwheel:true
              });
            });
        /******************************************************************
        * resize-ovanje mape kad se radi responsive stranice
        ******************************************************************/ 
           
         google.maps.event.addDomListener(window, "resize", function() {
         var center = map.getCenter();
         google.maps.event.trigger(map, "resize");
         map.setCenter(center); 
          });

      </script>
​
      <!-- Broj telefona -->
      <!--
      <div class="card-phone"> 
        <h3 class="h3-title" align="center">Ili na broj telefona:</h3>
        <h3 class="h3-title" align="center">060/329-19-15</h3>
        <h3 class="h3-title" align="center">069/286-93-42</h3>-->
        <!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbalfliga%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
        </iframe> -->
      <!--</div>-->
      </div>
    </body>
</html>

