<%= render 'shared/errors', obj: @this_match %>
<div class="main-wrap-team">
	<div class="signup-main">
		<%= form_tag chooseplayers_path, method: :post do %> 
			<table>
		        <% @player_seasons.each do |player_season| %>
		        <tr>
		            <td><%= check_box_tag "player_season_ids[]", player_season.id %></td> 
		            <td><%= player_season.player.name %></td>
		            <td><%= player_season.player.surname %></td>
		            <% end %>
		        </tr>    
	    	</table>
    		<%= submit_tag "Mark as Complete" %>
		<% end %>
	</div>
</div>


<!-- check_box_tag 'player_season_ids[]', player_season.id -->