<head>
	<!-- Sa current_user.username stampamo username ulogovanog igraca -->
	<title><%= @player.name %> <%= @player.surname %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
<div class="bg-match2">
	<div class="balf-gradient-background-transparent">
	<div class="player-profile">
		<div class="player-profile-kolone">
			<div class="box-row">
				<div class="box-cell prva">
					<div class="box-content">
						<div class="player-profile-image-div">
							<%= image_tag @player.avatar.url(:medium), :class => "player-profile-image" %>
						</div>
						<table class="player-profile-left-table">
							<tr>
								<td><%= @language_2.korisnicko_ime %>:</td>
								<td><%= @korisnicko_ime %></td>
							</tr>
							<tr>
								<td><%= @language_2.ime %>:</td>
								<td><%= @ime %></td>
							</tr>
							<tr>
								<td><%= @language_2.prezime %>:</td>
								<td><%= @prezime %></td>
							</tr>
							<!--<tr>
								<td>Email:</td>
								<td><%= @mail %></td>
							</tr>
							<tr>
								<td>Datum rodjenja:</td>
								<td><%= @datum_rodjenja %></td>
							</tr>-->
							<tr>
								<td><%= @language.nastupa %>:</td>
								<td><%= @broj_odigranih_meceva %></td>
							</tr>
							<tr>
								<td><%= @language.pobeda %>:</td>
								<td><%= @broj_pobeda %></td>
							</tr>
							<tr>
								<td><%= @language.neresenih %>:</td>
								<td><%= @broj_neresenih %></td>
							</tr>
							<tr>
								<td><%= @language.izgubljenih %>:</td>
								<td><%= @broj_izgubljenih %></td>
							</tr>
							
							<tr>
								<td><%= @language_2.procenat_pobeda %>:</td>
								<% if @broj_odigranih_meceva != 0 %>
									<td><%= @procenat_pobeda.round(2) %> %</td> 
								<% else %>
									<td> 0 </td>
								<% end %>
							</tr>
							<tr>
								<td><%= @language_2.procenat_neresenih %>:</td>
								<% if @broj_odigranih_meceva != 0 %>
									<td><%= @procenat_neresenih.round(2) %> %</td>
								<% else %>
									<td> 0 </td>
								<% end %>
							</tr>
							<tr>
								<td><%= @language_2.procenat_izgubljenih %>:</td>
								<% if @broj_odigranih_meceva != 0 %>
									<td><%= @procenat_izgubljenih.round(2) %> %</td>
								<% else %>
									<td> 0 </td>
								<% end %>
							</tr>
							<tr>
								<td>Experience:</td>
								<td><%= @player_season.expirience %></td>
							</tr>
						</table><br>
						<table class="player-profile-left-table">
							<tr>
								<th class="text-align: center"><%= link_to @language_2.player_stats, player_path(@player) %></th>
								<th class="text-align: center"><%= link_to @language_2.player_bedzevi, player_badge_path(@player) %></th>
								<th class="text-align: center"><%= link_to @language_2.igraci, team_path(@player.team) %></th>
							</tr>
						</table>
					</div>
				</div>
				<!-- ********************************** -->
				<!-- Prva od tri kolone sa statistikama -->
				<!-- ********************************** -->
				<div class="box-cell druga">
					<!-- I -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language_2.faulova %></p>
						<a href="#" class="button button-circle button-royal"><%= @player_season[:fouls] %></a>
					</div>
					<!-- II -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language.dato_golova %></p>
						<a href="#" class="button button-circle button-primary"><%= @player_season[:goals] %></a>
					</div>
					<!-- III -->
					<!--<div class="box-content graphs player-experience-container player-profile-centered biggie">
					</div>-->
				</div>

				<!-- *********************************** -->
				<!-- Druga od tri kolone sa statistikama -->
				<!-- *********************************** -->
				<div class="box-cell treca">
					<!-- I -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language.zutih_kartona %></p>
						<a href="#" class="button button-circle button-highlight"><%= @player_season[:yellow_cards] %></a>
					</div>
					<!-- II -->
					<div class="box-content">
						<ul class="graphs player-experience-container player-profile-centered biggie">			
					        <!-- 1. Boja unutrasnjeg kruga -->
					        <!-- 2. Boja unutrasnjeg prstena -->
					        <!-- 3. Boja spoljasnjeg prstena odredjena je u JavaScript-u circle-progress.js -->
					        <!-- 4. Sa data-fill-color u ovom html fajlu je odredjena boja progress kruga -->
							<p>Experience</p>
					        <li class="animated" data-provide="circular" data-fill-color="#60ff03" data-percent="true" data-initial-value=<%= @procenata_za_iduci_level %> data-max-value="100" data-label=<%= "#{@level}" %> data-title="Level" data-dates="" style="width: 222px; height: 222px;">
							<!-- width: 272px; height: 272px -->
					        </li> 
						</ul>
					</div>
					<!-- III -->
					<!--<div class="box-content graphs player-experience-container player-profile-centered biggie">
					</div>-->
				</div>

				<!-- *********************************** -->
				<!-- Treca od tri kolone sa statistikama -->
				<!-- *********************************** -->
					<!-- I -->
				<div class="box-cell cetvrta">
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language.crvenih_kartona %></p>
						<a href="#" class="button button-circle button-caution"><%= @player_season[:red_cards] %></a>
					</div>
					<!-- II -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language.asistencija %></p>
						<a href="#" class="button button-circle button-action"><%= @player_season[:assists] %></a>
					</div>
					<!-- III -->
					<!--<div class="box-content graphs player-experience-container player-profile-centered biggie">
					</div>-->
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</body>