<head>
  	<title><%= @language_2.dodaj_gol %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div id='wrapper'>
		<h1><%= @language_2.dodaj_gol %></h1>
	</div>
	<div class="container">
		<%= render 'form' %>
	</div>
</body>
