// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Color Variables
$indigo: #5a82b7; /*#5C6BC0;*/ 
$blue: #29B6F6;
$black: #717171;



/***************************************************
* Veoma vazno za prikaz crop-ovanih slika na mestu
* artikala (clanaka)
***************************************************/

.article-text-div {
	padding: 20px;
	width: 60%;
	margin: auto;
}

.article-text-div-mobile {
	padding: 20px;
	margin: auto;
}

.article-text-size {
	padding-top: 5px;
	padding-bottom: 10px;
    background: rgba(247, 247, 247, 0.88);
    border-radius: 10px;
}

.article-text-size p {
    font-size: 14px;
    color: black;
    padding: 10px;
}

.imgContainer {
    overflow: hidden;
    width: 100%;
    max-width: 640px;
    /* height: 250px; */
}

.imgContainer img {
    width: 100%;
    /* height: 120px; */
}
/**************************************************/

$content-font-family: "Lato";
$header-font-family: "Montserrat";

// Basic Styles for Demo
*,*:after,*:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.articles-content {
	font-size: 1em;
	font-family: $content-font-family;
	font-weight: 400;
	line-height: 1.5;

	word-wrap: break-word;
  	-webkit-hyphens: auto;
       -moz-hyphens: auto;
          	hyphens: auto;  
}

.article-image {
    height: 250px;
    max-width: 100%;
}

/*.articles-content a {
	color: $blue;
	text-decoration: none;


	&:hover {
		text-decoration: underline;
	}
}*/

// Basics demo styles
.site__wrapper {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.site__info {
	clear: both;
	display: block;
	font-variant: small-caps;
	letter-spacing: 2px;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
}

// Basic Grid for Demo;
.grid {
	float: none;
	width: 100%;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.4em;

	@media screen and (min-width: 40.063em) {
		float: left;
		width: 33.333%;
	}
}

// Card Article
.card {
	
}

.card__image {
	max-width: 378px;
	max-height: 250px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	display: block;
	min-height: 240px; 
	overflow: hidden;
	position: relative;

	> img {
		min-width: 377px;
		min-height: 250px;
		overflow: hidden;
		display: block;
		margin-bottom: 0;

		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}

	&:hover > img {
		-webkit-transform: scale(1.2);
		   -moz-transform: scale(1.2);
		    -ms-transform: scale(1.2);
		     -o-transform: scale(1.2);
		        transform: scale(1.2);
	}
}

.card__title {

	/*padding-left:24px;*/
  	font-family: 'Roboto Condensed';
	font-size: 1.4em;
	/*margin-top: 7%;*/
	text-shadow: 1px 1px 1.3px black;
	text-transform: uppercase;

	color: white;
	display: inline-block;
	/*font-family: $header-font-family;
	font-size: 1.5em;*/
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0.75em;
	text-decoration: none;

	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;

	&:hover {
		color: rgba(white, 0.7);
		text-decoration: none;
	}
}

.card__overlay {
	content: "";
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.card__overlay--indigo {
	background-image: linear-gradient(to bottom, rgba($indigo, 0.1), rgba($indigo, 0.8));
	z-index: 2;
}

.card__overlay--blue {
	background-image: linear-gradient(to bottom, rgba($blue, 0.1), rgba($blue, 0.8));
	z-index: 2;
}

.card__overlay-content {
	position: absolute;
	bottom: 0;
	padding: 1.5em;
	z-index: 3;
}

.card__meta {
	margin: 0;
	margin-right: -1em;
	margin-bottom: 0.75em;

	&.card__meta--last {
		margin-bottom: 0;
	}
	 
	li {
		color: #f8f8f8;
		display: inline;
		list-style-type: none;
		margin-bottom: 0;
		padding-right: 1em;

		font-size: 0.85em;
		font-variant: small-caps;
		letter-spacing: 1px;

		&:not(:last-child):after {
			content: "\25cf";
			font-style: normal;
			position: relative;
			color: rgba(white, 0.25);
			right: -0.6em;
		}

		> a {
			color: #f8f8f8;
		}
	}
}

.form-group-edit {
	width: 100%;
}

input[type="file"] {
    display: block;
    width: inherit;
    padding-top: 5px;
    padding-bottom: 10px;
}