/*Ova je CSS za sistem za razmenu poruka*/

/* Tag image */
.chose-image {
    width:55px;
    height:55px;
    padding: 2px 5px 3px 0;
}

/* Image for Single mode */
.chose-image-small {
    width:18px;
    height:18px;
    vertical-align: middle;
    margin: -3px 0 0 0;
    padding: 0 3px 0 0;
}

/* Images appended to the li(s) */
.chose-image-list {
    width:18px;
    height:18px;
    vertical-align: middle;
    margin: -3px 0 0 0;
    padding: 0 3px 0 0;
}

/* Grey-out image for Multi mode */
div.chosen-container-multi .result-selected img {
    opacity: 0.3;
}
