// Place all the styles related to the league_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#commontator-league-pages{
	width: 50%;
	margin: 0 auto;
	padding-bottom: 110px;
	
	.comment{
		background: rgba(248, 248, 255, 0.95);
		border-radius: 8px;
	}
	.comment_body{
		p{
			font-size: 15px;
			font-weight: normal;
			font-style: normal;
			color: #000;
			text-align: left;
		}
	}
	.comment_form_field{
		color:black;
		
	}
	
	.comment_form_actions{
		margin-bottom: 0;
		color:black;
	}
	.comment_edit_link{
		color: black;
	}
	.comment_delete_link{
		color:black;
	}
	.comment_undelete_link{
		color:black;
	}
}

/* Sakriva neke elemente na mobilnom,
   da bi stali na responsive ekranu*/
@media (min-width:480px){
  
  .OnlyforHandheld{
    display:none;
  }

}

@media (max-width:480px){

  .OnlyforWeb{
    display:none;
  }

  #commontator-league-pages {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 5px;
  }
}