// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Results font, h1 i h2*/
.results-font {
    font-family: Ubuntu;
    font-weight: 300;
}

.results-font h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

