// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-user {
  border: none !important;
  background-color: rgb(174, 178, 189);
  color: black;
  padding: 5px;
  margin: 10px;
}

.users-header{
	text-align: center;
}

.users-table {
  padding-top: 10px;
  padding-bottom: 150px;
}

/* dimenzije tabele users  index.html.erb */
.users-container{
  /*position: relative;*/
  /*right: 0;
  left: 0;*/
  /*margin: auto;*/
  width: 40%;
  z-index: 1;
  /*width: 75%;*/
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 30%;
  margin-right: 30%;
	
  tbody {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  tr:nth-child(odd) {
  	background-color: rgba(50, 60, 80, 0.58);
  }

  /* Background-color of the even rows */
   tr:nth-child(even) {
    background-color: rgba(20, 24, 31, 0.61);
  }

   th {
    background-color: #1F2739;
    text-align: center;
  }

   td:first-child {
    color: #DDD; 
    font-weight: bold;
  }

   td:nth-child(2) {
     color: #F9AD1C;
  }
}

/*@media (min-width: 768px){
.users-container {
    width: 750px;
}
}*/