<head>
  <title><%= @language_2.rang_lista %> (5+1)|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div id='wrapper'>
		<h1><%= @language.meni_rang_lista_igraca %> (5+1)</h1>
	</div>
	<div class="center">

		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th><%= @language.pozicija_skraceno %></th>
				<th class="OnlyforWeb"></th>
				<th><%= @language.igrac %></th>
				<th class="OnlyforWeb"><%= @language.ekipa %></th>
				<th class="OnlyforWeb"><%= @language.golova %></th><th class="OnlyforHandheld"><%= @language.golova_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.asistencija %></th><th class="OnlyforHandheld"><%= @language.asistencija_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.zutih_kartona %></th><th class="OnlyforHandheld"><%= @language.zutih_kartona_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.crvenih_kartona %></th><th class="OnlyforHandheld"><%= @language.crvenih_kartona_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.nastupa %></th><th class="OnlyforHandheld"><%= @language.nastupa_skraceno %></th>
				<th class="OnlyforWeb"><%= @language_2.level %></th><th class="OnlyforHandheld"><%= @language_2.level_skraceno %></th>
				<th class="OnlyforWeb">Experience</th><th class="OnlyforHandheld">XP</th>
			</tr>
			<% if @player_seasons_5_1 != nil %>
				<%= render 'players_rang_list/player', obj: @player_seasons_5_1.sort_by{|e| e[:position]} %>
			<% end %>
			</table>
		</div>
	</div>
</body>