<div class="OnlyforWeb">
	<iframe src='http://docs.google.com/viewer?url=<%= @izvod %>&embedded=true' width="780" height="1014" style="border: none; margin-left: 28%;margin-right: 40%;margin-top: 20px;margin-bottom: 20px;"> </iframe>
</div>
<div class="OnlyforHandheld">
	<iframe src="http://docs.google.com/viewer?url=<%= @izvod %>&embedded=true" width="100%" height="550px" style="border: none;"></iframe>
</div>
