<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %></h2>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>

  <div class="main-wrap-footer">
    <div class="contact-form">
      <div class="signup-padding">
        <%= f.label :ime %>
        <%= f.text_field :name, class: "polje border1", placeholder: "#{@language_2.unesite_svoje_ime}"%>
      </div>

      <div class="signup-padding">
        <%= f.label :email %>
        <%= f.email_field :email, class: "polje border1", placeholder: "#{@language.unesite_email}"%>
      </div>

      <div class="signup-padding">
        <%= f.label :naslov %>
        <%= f.text_field :subject, class: "polje border1", placeholder: "#{@language_2.naslov_poruke}"%>
      </div>

      <div class="signup-padding">
        <%= f.label :poruka %>
        <%= f.text_area :content, class: "contact-text-area border1", id: "textfield", placeholder: "#{@language_2.sadrzaj_poruke}" %>
      </div>

      <div class="actions">
        <%= f.submit "#{@language.send}", class: 'button contact-send-button' %>
      </div>
    </div>
  </div>
<% end %>