<!-- Specijalan NAVBAR za sve strane OSIM NASLOVNE -->
<nav class="navfixed navbar navbar-default navbar-transparent navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">@language_2.toggle_navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- ****************************************************** -->
      <!-- LEVA strana NAV-a -->
      <!-- ****************************************************** -->
      <!-- Logo BALF koji se nalazi sa leve strane -->
      <div class="logo_navbar" style="padding-top: 9px; padding-bottom: 9px;">
        <%= link_to (image_tag(@organisation_info.avatar.url(:medium), :height => '30px')), root_path %>
      </div> 
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!--Ovo je HTML za sistem za razmenu poruka-->
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
              <li><%= link_to @language_2.your_conversation, conversations_path %></li>
              <li><%= link_to @language_2.svi_korisnici, users_path %></li>
          <% end %>
        </ul>

    <!-- ****************************************************** -->
    <!-- DESNA strana NAV-a -->
    <!-- ****************************************************** -->
    <ul class="nav navbar-nav navbar-right">
        <!-- Vesti -->
        <li ><%= link_to @language.meni_vesti, articles_path %></li>
        <!-- Lige -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @language.meni_info %></a>
            <ul class="dropdown-menu">
                <!--*********************************************************
                * Submenu Lige 5+1 
                **********************************************************-->
                <li class="dropdown-submenu">
                    <a href="#" class="test">5+1</a>
                    <ul class="dropdown-menu">
                        <!-- SubSubmenu Tabele -->
                        <li class="dropdown-submenu">
                          <a href="#" class="test"><%= @language.meni_tabele %></a>
                          <ul class="dropdown-menu">
                              <%= render 'layouts/league', obj: @lige5plus1_nav %>
                          </ul>
                        </li>
                        <li role="separator" class="divider"></li>
                        <!-- SubSubmenu Statistike -->
                        <li class="dropdown-submenu">
                          <a href="#" class="test"><%= @language.meni_statistike %></a>
                          <ul class="dropdown-menu">
                              <%= render 'layouts/league_players', obj: @lige5plus1_nav %>
                          </ul>
                        </li>
                        <li role="separator" class="divider"></li>
                        <!-- SubSubmenu Rezultati -->
                        <li class="dropdown-submenu">
                          <a href="#" class="test"><%= @language.meni_rezultati %></a>
                          <ul class="dropdown-menu">
                              <%= render 'layouts/league_matches', obj: @lige5plus1_nav %>
                          </ul>
                        </li>
                        <li role="separator" class="divider"></li>
                        <!-- SubSubmenu Uzivo utakmice -->
                        <li class="dropdown-submenu">
                          <a href="#" class="test"><%= @language.meni_uzivo_utakmice %></a>
                          <ul class="dropdown-menu">
                              <%= render 'layouts/league_livescore', obj: @lige5plus1_nav %>
                          </ul>
                        </li>
                        <li role="separator" class="divider"></li>

                        <!--***************************** -->
                        <!-- Submenu Stranice liga 5+1 -->
                        <!--***************************** -->
                        <li>
                            <%= link_to @language.meni_stranice_liga, five_plus_one_leagues_path %>
                        </li>
                        <li role="separator" class="divider"></li>

                        <!--***************************** -->
                        <!-- Submenu Rang lista ekipa 5+1 -->
                        <!--***************************** -->
                        <li>
                            <%= link_to @language.meni_rang_lista_ekipa, teams_rang_list_path %>
                        </li>
                        <li role="separator" class="divider"></li>

                        <!--***************************** -->
                        <!-- Submenu Rang lista igraca 5+1 -->
                        <!--***************************** -->
                        <li>
                            <%= link_to @language.meni_rang_lista_igraca, players_rang_list_path %>
                        </li>


                    </ul>
                </li>
                <li role="separator" class="divider"></li>
                <!--*********************************************************
                * Submenu Lige 4+1 
                **********************************************************-->
                <li class="dropdown-submenu">
                    <a class="test">4+1</a>
                    <ul class="dropdown-menu">
                        <!-- SubSubmenu Tabele -->
                        <li class="dropdown-submenu">
                          <a href="#" class="test"><%= @language.meni_tabele %></a>
                          <ul class="dropdown-menu">
                              <%= render 'layouts/league', obj: @lige4plus1_nav %>
                          </ul>
                        </li>
                        <li role="separator" class="divider"></li>

                        <!-- SubSubmenu Statistike -->
                        <li class="dropdown-submenu">
                          <a href="#" class="test"><%= @language.meni_statistike %></a>
                          <ul class="dropdown-menu">
                              <%= render 'layouts/league_players', obj: @lige4plus1_nav %>
                          </ul>
                        </li>
                        <li role="separator" class="divider"></li>

                        <!-- SubSubmenu Rezultati -->
                        <li class="dropdown-submenu">
                          <a href="#" class="test"><%= @language.meni_rezultati %></a>
                          <ul class="dropdown-menu">
                              <%= render 'layouts/league_matches', obj: @lige4plus1_nav %>
                          </ul>
                        </li>
                        <li role="separator" class="divider"></li>

                        <!-- SubSubmenu Rezultati -->
                        <li class="dropdown-submenu">
                          <a href="#" class="test"><%= @language.meni_uzivo_utakmice %></a>
                          <ul class="dropdown-menu">
                              <%= render 'layouts/league_livescore', obj: @lige4plus1_nav %>
                          </ul>
                        </li>
                        <li role="separator" class="divider"></li>

                        <!--***************************** -->
                        <!-- Submenu Stranice liga 4+1 -->
                        <!--***************************** -->
                        <li>
                            <%= link_to @language.meni_stranice_liga, four_plus_one_leagues_path %>
                        </li>
                        <li role="separator" class="divider"></li>

                        <!--***************************** -->
                        <!-- Submenu Rang lista ekipa 4+1 -->
                        <!--***************************** -->
                        <li>
                            <%= link_to @language.meni_rang_lista_ekipa, teams_rang_list_4_1_path %>
                        </li>
                        <li role="separator" class="divider"></li>

                        <!--***************************** -->
                        <!-- Submenu Rang lista igraca 4+1 -->
                        <!--***************************** -->
                        <li>
                            <%= link_to @language.meni_rang_lista_igraca, players_rang_list_4_1_path %>
                        </li>
                    </ul>
                </li>
                <li role="separator" class="divider"></li>

                <!--***************************** -->
                <!-- Submenu Baloni -->
                <!--***************************** -->
                <li>
                    <%= link_to @language.meni_tereni, stadions_path %>
                </li>
                <li role="separator" class="divider"></li>

                
                <!--***************************** -->
                <!-- Submenu Sudije -->
                <!--***************************** -->
                <li>
                    <%= link_to @language.meni_sudije, referees_path %>
                </li>
            </ul>
        </li>
        <!-- Kup -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @language.meni_kup %></a>
          <ul class="dropdown-menu">
              <!-- Submenu Kup 5+1 -->
              <li class="dropdown-submenu">
                  <a href="#" class="test"><%= @language.meni_kup %> 5+1</a>
                  <ul class="dropdown-menu">
                      <%= render 'layouts/tournament', obj: @tournaments5plus1_nav %>
                  </ul>
              </li>
              <li role="separator" class="divider"></li>
              <!-- SubSubmenu Statistike -->
              <li class="dropdown-submenu">
                  <a href="#" class="test"><%= @language.meni_kup %> 4+1</a>
                  <ul class="dropdown-menu">
                      <%= render 'layouts/tournament', obj: @tournaments4plus1_nav %>
                  </ul>
              </li>
          </ul>
        </li>
        <!-- Pravilnik -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @language.meni_pravila %></a>
          <ul class="dropdown-menu">
              <li ><%= link_to @language.meni_kup_5_plus_1, rules51_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to @language.meni_kup_4_plus_1, rules41_path %></li>
              <!--<li role="separator" class="divider"></li>
              <li><%= link_to "Izvod iz pravilnika", izvod_path %></li>-->
          </ul>
        </li>
        <li ><%= link_to @language.meni_kontakt, kontakt_path %></li>
        <!-- ****************************************************** -->
        <!-- Dropdown za Playera, Delegata i Admina -->
        <!-- Ako je neko usao na sajt, treba da mu drugacije izgleda meni -->
        <!-- ****************************************************** -->
        <% if logged_in? %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <!--<li ><%= link_to "Account settings", edit_user_path(current_user) %></li>
                    <li role="separator" class="divider"></li>-->
                    <!-- DA LI SI TI IGRAC? -->
                    <% if current_user.player %>
                        <li><%= link_to @language_2.podesavanja_naloga, edit_user_path(current_user)  %></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to @language_2.informacije_o_meni, edit_player_path(current_user.player)  %></li>
                        <li role="separator" class="divider"></li>
                        <!--<li><%= link_to @language_2.my_articles, user_path(current_user) %></li>
                        <li role="separator" class="divider"></li>-->
                        <li><%= link_to @language_2.moj_profil, player_path(current_user.player) %></li>
                        <li role="separator" class="divider"></li>
                        <!-- Submenu Kalendar takmicenja -->
                        <li>
                            <%= link_to @language_2.kalendar_takmicenja, matches_path %>
                        </li>
                    <!-- DA LI SI TI DELEGAT? -->
                    <% elsif current_user.delegate %>
                        <li><%= link_to @language_2.podesavanja_naloga, edit_user_path(current_user)   %></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to @language_2.informacije_o_meni, edit_delegate_path(current_user.delegate)  %></li>
                        <li role="separator" class="divider"></li>
                        <!--<li><%= link_to @language_2.my_articles, user_path(current_user) %></li>
                        <li role="separator" class="divider"></li>-->
                        <li><%= link_to @language_2.moj_profil, delegate_path(current_user.delegate) %></li>
                        <li role="separator" class="divider"></li>
                        <!-- Submenu Kalendar takmicenja -->
                        <li>
                            <%= link_to @language_2.kalendar_takmicenja, matches_path %>
                        </li>
                    <!-- DA LI SI TI ADMIN? -->
                    <% elsif current_user.admin %>
                        <li><%= link_to @language_2.podesavanja_naloga, edit_user_path(current_user)   %></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to @language_2.my_articles, user_path(current_user) %></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to @language_2.my_cms, admins_path %></li>
                    <% end %>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to @language_2.log_out, destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
  $(document).ready(function(){
    $('.dropdown-submenu a.test').on("click", function(e){
      /*$(this).next('ul').toggle();*/
      $(this).next('ul').css("display", "block");
      e.stopPropagation();
      e.preventDefault();
    });
  });
</script>